*.mtx
*.npz
*.log
*.err
# *.csv
# *.pdf
*.dat
.vscode/
*.pyc
__pycache__/
*.egg-info/

# data
data

# Models
*.joblib

# Output
output*/

# Save some special files
!playground_v4_pipeline/data

playground_v4_pipeline/data/*
!playground_v4_pipeline/data/output_2279_total.csv